footer {
    background-color: white;
    height: 60px;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
}
