.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
    justify-content: right;
    display: flex;
}

.filters button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border-width: 0;
    border-radius: 4px;
    margin-top: 11px;
    margin-right: 30px;
    cursor: pointer;
}

.filters.button {
    cursor: pointer;
}
