.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: right;
}

.filters button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border-width: 0;
    border-radius: 4px;
    margin-top: 11px;
    margin-right: 30px;
    cursor: pointer;
}

.filters button:hover {
    background-color: rgba(255, 90, 95, 90%);
}

.filters div.amenities,
.filters div.locations {
    height: 100%;
    width: 25%;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 50px;    
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 50px;
}

.filters div.locations {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #DDDDDD;
}

.filters div.amenities {
    margin-right: auto;
}
