.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: right;
}

.filters button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border-width: 0;
    border-radius: 4px;
    margin-top: 11px;
    margin-right: 30px;
    cursor: pointer;
}

.filters button:hover {
    background-color: rgba(255, 90, 95, 90%);
}

.filters div.amenities,
.filters div.locations {
    height: 100%;
    width: 25%;
    cursor: pointer;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 50px;
    
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 50px;
}

.filters div.locations {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #DDDDDD;
}

.filters div.amenities {
    margin-right: auto;
    margin-top: 0;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
    list-style: none;
    margin-top: 0;
    padding-left: 35px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
}

h2 {
    margin-bottom: 0;
}

ul {
    padding-left: 15px;
}

li {
    margin-bottom: 5px;
}

li.amenit {
    margin-left: 13px;
}
.popclean {
    list-style: none;
}

div.amenities:hover .popover,
div.locations:hover .popover{
    display: block;
}

@media only screen and (max-width: 600px) {
    .filters button {
        font-size: 14px;
    }
}
