.places {
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    width: 1000px;
    margin-bottom: 0;
}

.places article {
    min-width: 390px;
    max-width: 390px;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #FF5A5F ;
}

.places article h2 {
    font-size: 30px;
}
